# sapphone !!! :3
# you have to change line 49 on main.py to point to your config, Lmbao
# strings that use escapes (\) should be contained in 'single quotation marks'

# file sapphone reads from
target_file: '/home/gelvetica/PycharmProjects/sapphone/test.txt'
# regex pattern for detecting message, the content of the first group will be read aloud
target_pattern: '(.*)'
# how often sapphone should check the target file for changes
refresh_rate: 0.1
tts:
  # disabling does not do anything currently
  enabled: true
  # specify which engine to use
  engine: sam
  engines:
    # engine: engine config
    dectalk:
      advanced:
        prefix: "[:phone on]"
        suffix: ""
      engine:
        path_to_executable: '/home/gelvetica/dectalk/say'
    sam:
      voice:
        speed: 72
        pitch: 64
        mouth: 128
        throat: 128
      pronunciation:
        phonetic: false
        sing: false
      engine:
        path_to_executable: '/home/gelvetica/SAM/sam'
# Substitute words in the message before reading aloud
basic_substitutions:
  # target: replacement
  dr: doctor
  bc: because
# run re.sub on message before reading alou
regex_substitutions:
  # pattern: string
  '\B:3\b': meow
    